@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
			
* {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
}

.card {
	width: 32%;
	margin-left: 1%;
}